<h1><%= I18n.t(:locations) %></h1>
<ul>
  <% current_page.children.each do |service| %>
    <% next if service.path.end_with?(".#{opposite_locale}")  %>
    <li>
      <%= link_to service.data.name, "/#{service.path}" %>
    </li>
  <% end %>
</ul>
